<form class="text-center" action="/answer" data-turbo="false">
  <input class="text-center" class="form-control form-control-lg" type="text" name="answer" placeholder="Ask something ✍️">
  <input button type="submit" class="btn btn-primary" value="Ask!"></button>
</form>
